@import url('https://fonts.googleapis.com/css2?family=Comforter+Brush&display=swap');



#main_sub{

    .about{
        width: 100%;
        background: rgba(0,0,0,0.87);

        .inner{
            width: 1180px;
            min-height: 700px;
            position: relative;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding:150px 100px;

            h2{
                font:bold 50px/1 'Montserrat';
                letter-spacing: 1.5px;
                color:#fff;
                margin-bottom: 50px;
                position: relative;

                span{
                    color:rgb(252, 191, 93);
                    opacity: 0.4;

                    &::after{
                        content: '';
                        display: block;
                        width: 125px;
                        height: 2px;
                        background: rgb(163, 123, 59);
                        position: absolute;
                        right:0%;
                    }
                }
            }

            
            >img{
                width: 550px;
                height: 350px;
                object-fit: cover;
                margin-bottom: 50px;
                filter: saturate(10%);
                transition: 1s;
                
                &:hover{filter:saturate(100%)}
            }

            .warp{
                width: 100%;
                text-align: center;
                padding:0px 100px;

                b{
                    font:bold 12px/1 'Montserrat';
                    letter-spacing: 2px;
                    color:#ccc;

                }

                p{
                    margin: 0 auto;
                    width: 90%;
                    font:normal 20px/1 'Dongle';
                    letter-spacing: 2.3px;
                    color:#bbb;
                    margin-top: 25px;
                    margin-bottom: 25px;
                }

                span{
                    font:bold 13px/1 'Montserrat';
                    letter-spacing: 3px;
                    color:#fff;
                }

                strong{
                    display: block;
                    margin-top: 40px;
                    font:normal 50px/1 'Comforter Brush';
                    letter-spacing: 3px;
                    font-style: italic;
                    color:rgb(163, 123, 59);
                    opacity: 0.3;
                }
            }
        }
    }

    .member{
        width: 100%;

        .inner{
            width: 100%;
            position: relative;
            min-height: 700px;
            padding: 100px 0px;
            overflow: hidden;

            .warp{
                width: 100%;
                
                .slider{

                    ul{
                        position: absolute;
                        top: 0;
                        left: -100%;
                        width: 500%;
                        height:100%;

                        li{
                            float: left;
                            width: 20%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .content{
                                background-image: url(../img/memberBg.JPG);
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                height: 100%;
                                width: 50%;
                                display: flex;
                                flex-direction: column;
                                justify-content:center;
                                align-items:flex-end;
                                padding-right: 50px;


                                h2{
                                    font:bold 25px/1 'Montserrat';
                                    letter-spacing: 3px;
                                    color:#fff;
                                    margin-bottom: 50px;
                                    width: 60%;
                                    position: relative;

                                    &::after{
                                        content: '';
                                        display: block;
                                        width:65%;
                                        height: 2.5px;
                                        background: rgb(163, 123, 59);
                                        position: absolute;
                                        bottom:-20px;
                                        left: 0%;
                                    }
                                }

                                b{
                                    font:bold 20px/1 'Dongle';
                                    letter-spacing: 2.3px;
                                    color:#ccc;
                                    width: 60%;
                                    // text-align: left;
                                }

                                p{
                                    margin-top: 30px;
                                    margin-bottom: 40px;
                                    width: 60%;
                                    // text-align: left;
                                    font:bold 20px/1 'Dongle';
                                    letter-spacing: 2.3px;
                                    color:#ccc;
                                }

                                strong{
                                    font:bold 13px/1 'Montserrat';
                                    letter-spacing: 2.3px;
                                    color:#fff;
                                    width: 60%;
                                    margin-bottom: 10px;
                                }

                                span{
                                    font:bold 12px/1 'Montserrat';
                                    letter-spacing: 1.3px;
                                    color:rgb(163, 123, 59);
                                    width: 60%;
                                }
                            }
                            .pic{
                                width: 50%;
                                height: 100%;

                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }

                .prev{
                    position: absolute;
                    display: block;
                    width: 30px;
                    height: 30px;
                    background: rgba(241, 195, 121, 0.849);
                    bottom: 0;
                    left: 49%;
                    transform: translateX(-50%);
                    text-align: center;
                    color:#fff;

                    i{
                        line-height: 30px;
                    }
                }

                .next{
                    position: absolute;
                    bottom: 0;
                    display: block;
                    width: 30px;
                    height: 30px;
                    background: rgba(241, 195, 121, 0.849);
                    left: 51%;
                    transform: translateX(-50%);
                    text-align: center;
                    color:#fff;

                    i{
                        line-height: 30px;
                    }
                }
            }
        }
    }

    .aboutPic{
        width: 100%;
        background: rgba(0,0,0,0.87);

        .inner{
            width: 1180px;
            position: relative;
            margin: 0 auto;
            padding: 150px 0px;

            h2{
                position: absolute;
                right: 0;
                top: 0;
                font:bold 27px/35px 'Montserrat';
                letter-spacing: 3.5px;
                color: #fff;
                text-align: right;
                width: 30%;
                margin-bottom: 30px;
                margin-top: 100px;

                strong{
                    color:rgb(252, 191, 93);
                    opacity: 0.4;

                    &::after{
                    content: '';
                    display: block;
                    width:30%;
                    height: 2.5px;
                    background: rgb(163, 123, 59);
                    position: absolute;
                    left: 72.5px;
                    }
                }
            }

            .wrap{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 100px 0px 200px;

                article{
                    width: 30%;
                    height: 300px;
                    overflow: hidden;
                    margin-right: 5%;
                    border-radius: 10px;
                                        
                    &:nth-child(2){
                        position: relative;
                        top: 30px;
                        border-radius: 10px;
                    }
                    
                    &:nth-child(3){
                        margin-right: 0;
                    }

                    .pic{
                        width: 100%;
                        height: 100%;
                        background: #000;
                        border-radius: 10px;
                        overflow: hidden;
                        opacity: 0.8;
                        transition: 0.3s;

                        &.on{
                            opacity: 1;
                            transition: 0.3s;
                        }

                        img{
                            width: 100%;
                            height: 300px;
                            object-fit: cover;
                            opacity: 0.8;
                            border-radius: 10px;
                        }
                    }

                    &:nth-of-type(2) .hover{
                        position: relative;
                        bottom: 372.5px;
                        border-radius: 10px 10px 0px 0px;

                        &.on{
                            display: block;
                            opacity: 0.7;
                            transition: 0.3s;
                            bottom:300px;
                        }
                    }

                    .hover{
                        position: relative;
                        bottom:0px;                   
                        background: rgba(0,0,0,0.98);
                        height: 75px;
                        text-align: center;
                        display: block;
                        border-radius: 0px 0px 10px 10px;
                        transition: 0.3s;
                        opacity: 0;

                        &.on{
                            display: block;
                            opacity: 0.7;
                            transition: 0.3s;
                            bottom:72.5px;
                        }

                        span{
                            font:bold 10px/75px 'Montserrat';
                            letter-spacing: 1.3px;
                            color: #fff;
                            
                        }

                        a{
                            display: block;
                            width: 20px;
                            height: 20px;
                            text-align: center;
                            border-radius: 5px 5px 0px 5px;
                            background: rgba(241, 195, 121, 0.849);
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            left:265px;

                            i{
                                font-size: 20px;
                                color:#fff;
                            }
                        }
                    }
                }

                .content{
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    padding: 50px 100px;

                    h3{
                        font:bold 22.5px/35px 'Montserrat';
                        letter-spacing: 3.5px;
                        color: #fff;
                        text-align: left;
                        width: 30%;
                        margin-left: 30px;

                        &::after{
                            content: '';
                            display: block;
                            width:3px;
                            height: 100px;
                            background: rgb(163, 123, 59);
                            position: absolute;
                            left: 45%;
                            top: 50%;
                            transform: translateY(-50%);
                            }
        
                        strong{
                            color:rgb(252, 191, 93);
                            opacity: 0.4;
                        }
                    }

                    div{
                        width: 50%;
                        padding-top:25px;

                        p{
                            font:bold 10px/15px 'Montserrat';
                            color:#eee;
                        }

                        span{
                            display: block;
                            position: relative;
                            left:280px;
                            font:bold 11px/1 'Montserrat';
                            color:rgb(163, 123, 59);
                        }

                        a{
                            display: block;
                            width: 20px;
                            height: 20px;
                            text-align: center;
                            border-radius: 5px 5px 0px 5px;
                            background: rgba(241, 195, 121, 0.849);
                            position: relative;
                            left: 450px;
                            bottom:15px;

                            i{
                                font-size: 20px;
                                color:#fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .info{
        width: 100%;
        background: rgba(7, 7, 7, 0.945);
        
        .inner{
            width: 1180px;
            position: relative;
            margin: 0 auto;
            padding: 150px 0px 120px;

            .warp{
                width: 100%;

                article{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    h2{
                        font:bold 20px/1 'Montserrat';
                        letter-spacing: 2.3px;
                        margin-bottom: 50px;
                        text-align: center;
                        color:#fff;
                        position: relative;

                        &::after{
                            content: '';
                            display: block;
                            width:50px;
                            height: 2px;
                            background: rgb(163, 123, 59);
                            position: absolute;
                            bottom: -25px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }

                    ul{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        li{
                            margin-top: 10px;
                            font:normal 12px/1 'Montserrat';
                            letter-spacing: 1.5px;
                            color:#ccc;
                            margin-bottom: 10px;
                        }
                    }

                    .Letter{
                        position: relative;
                        ul{

                            li{
                                input[type=text]{
                                    display: block;
                                    width: 175px;
                                    height: 40px;
                                    border:1px solid #eee;
                                    position: absolute;
                                    left: 0;
                                    bottom: -10px;
                                    text-align: center;
                                    line-height: 40px;
                                    color:#eee;
                                    background: rgba(7, 7, 7, 0.945);
                                }

                                i{
                                    display: block;
                                    width: 40px;
                                    height: 40px;
                                    background: rgb(163, 123, 59);
                                    position: absolute;
                                    bottom: -10px;
                                    right: 0;
                                    font-size: 20px;
                                    text-align: center;
                                    line-height: 40.5px;
                                    color:#fff;
                                    border-top:1px solid #eee;
                                    border-bottom:1px solid #eee;
                                    border-right:1px solid #eee;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:1179px){

    #main_sub{

        .about{
    
            .inner{
                width: 100%;
            }
        }

        .member{

            .inner{

    
                .warp{
                    width: 100%;
                    
                    .slider{
    
                        ul{
    
                            li{
                                .content{
                                    h2{
                                        font:normal 20px/1 'Montserrat';
                                        margin-bottom: 30px;
    
                                        &::after{
                                            bottom:-10px;
                                        }
                                    }
    
                                    b{
                                        font:normal 16px/1 'Dongle';
                                    }
    
                                    p{
                                        margin-top: 10px;
                                        margin-bottom: 10px;
                                        font:normal 15.5px/1 'Dongle';
                                    }
    
                                    strong{
                                        font:normal 12px/1 'Montserrat';
                                    }
    
                                    span{
                                        font:normal 10px/1 'Montserrat';
                                        letter-spacing: 2px;
                                    }
                                }
                            }
                        }
                    }
    
                    .prev{
                        left: 47%;
                        bottom: 10px;
                    }
    
                    .next{
                        left: 53%;
                        bottom: 10px;
                    }
                }
            }
        }
    
        .aboutPic{

            .inner{
                width: 100%;
    
                h2{
                    position: absolute;
                    right: 3.5%;
                    top: 0;
                    margin-top: 125px;
    
                    strong{
    
                        &::after{
                        width:35%;
                        left: 8px;
                        }
                    }
                }
    
                .wrap{
                    justify-content: space-evenly;
                    padding: 125px 0px 200px;

                    article{
                        width: 27%;
                        height: 230px;
                        margin-right: 2%;                           
    
                        &:nth-of-type(2) .hover{
                            bottom: 305.5px;
    
                            &.on{
                                bottom:230px;
                            }
                        }
    
                        .hover{
    
                            span{
                                font:normal 18px/75px 'Dongle';
                                letter-spacing: 1.2px;                         
                            }
    
                            a{
                                width: 15px;
                                height: 15px;
                                top: 49.5%;
                                left:215px;
                                display: none;
    
                                i{
                                    display: none;
                                }
                            }
                        }
                    }
    
                    .content{
                        justify-content:space-evenly;
                        align-items: center;
                        padding: 50px 50px 100px 20px;
    
                        h3{
                            margin-left: 0px;
    
                            &::after{
                                height: 120px;
                                left: 33.5%;
                                top: 37.5%;
                                }
                        }
    
                        div{
    
                            p{
                                font:normal 19px/1 'Dongle';
                            }
    
                            span{
                                left:250px;
                                padding-top: 10px;
                                font:normal 18px/1 'Dongle';
                            }
    
                            a{
                                bottom: 20px;
                                left: 405px;
                            }
                        }
                    }
                }
            }
        }
    
        .info{

            .inner{
                width: 100%;
    
                .warp{
    
                    article{
                        justify-content: space-evenly;
    
                        h2{
                            font:normal 15px/1 'Montserrat';
                            
                            &::after{
                                width:47px;
                            }
                        }
    
                        ul{
    
                            li{
                                margin-top: 5px;
                                font:normal 11.5px/1 'Montserrat';
                                letter-spacing: 1.5px;
                                margin-bottom: 7.5px;
                            }
                        }
    
                        .Letter{

                            ul{
    
                                li{
                                    input[type=text]{
                                        width: 150px;
                                        left: 10px;
                                        bottom: -5px;
                                    }
    
                                    i{
                                        bottom: -5px;
                                        right: 10px;
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:959px){

    #main_sub{

        .about{
    
            .inner{
                padding:100px;

                h2{
                    font:normal 27.5px/1 'Montserrat';

                    span{
                        color:rgb(252, 191, 93);
                        opacity: 0.4;

                        &::after{
                            width: 125px;
                        }
                    }
                }

                >img{
                    width: 440px;
                    height: 250px;
                }

                .warp{
    
                    b{
                        font:normal 11px/1 'Montserrat';
                    }
    
                    span{
                        font:normal 12px/1 'Montserrat';
                    }
    
                    strong{
                        font:normal 40px/1 'Comforter Brush';
                    }
                }
            }
        }

        .member{
    
            .inner{
                min-height: 600px;
    
                .warp{
                    width: 100%;
                    
                    .slider{
    
                        ul{
    
                            li{
                                .content{
                                    padding-right: 70px;
                                    h2{
                                        font:normal 20px/25px 'Montserrat';
                                        margin-bottom: 20px;
                                    }
    
                                    b{
                                        font:normal 13px/1 'Dongle';
                                        text-overflow: ellipsis;   
                                        overflow: hidden;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 5; 
                                        -webkit-box-orient: vertical;
                                        margin-bottom: 5px;
                                    }
    
                                    p{
                                        font:normal 14px/1 'Dongle';
                                        overflow: hidden;
                                        text-overflow: ellipsis;   
                                        display: -webkit-box;
                                        -webkit-line-clamp: 10; 
                                        -webkit-box-orient: vertical;
                                    }
    
                                    strong{
                                        font:normal 10px/1 'Montserrat';
                                    }
    
                                    span{
                                        font:normal 10px/1 'Montserrat';
                                    }
                                }
                            }
                        }
                    }
    
                    .prev{
                        left: 47%;
                        bottom: 10px;
                    }
    
                    .next{
                        left: 53%;
                        bottom: 10px;
                    }
                }
            }
        }
    
        .aboutPic{

            .inner{
    
                h2{
                    right: 25px;
                    top: 0;
                    font:normal 25px/35px 'Montserrat';
                    width: 35%;
    
                    strong{
    
                        &::after{
                        left: 8.5px;
                        }
                    }
                }
    
                .wrap{
                    justify-content: space-evenly;
                    padding: 125px 0px 150px;

                    article{
                        height: 200px;
                        margin-right: 1%;                           
    
                        &:nth-of-type(2) .hover{
                            bottom: 305.5px;
    
                            &.on{
                                bottom:205px;
                            }
                        }
    
                        .hover{
    
                            span{
                                font:bold 10px/75px 'Montserrat';
                                letter-spacing: 0.5px;              
                            }
                        }
                    }
    
                    .content{

                        h3{
                            font:normal 20px/30px 'Montserrat';
                        }
        
                        div{
    
                            span{
                                left:170px;
                            }
    
                            a{
                                left: 325px;
                            }
                        }
                    }
                }
            }
        }
    
        .info{

            .inner{
    
                .warp{
    
                    article{
    
                        h2{
                            font:normal 12px/1 'Montserrat';
                            
                            &::after{
                                width:47px;
                            }
                        }
    
                        ul{
    
                            li{
                                margin-top: 0px;
                                font:normal 10px/1 'Montserrat';
                                letter-spacing: 1px;
                                margin-bottom: 10px;
                            }
                        }
    
                        .Letter{

                            ul{
    
                                li{
                                    input[type=text]{
                                        width: 130px;
                                        left: 0px;
                                        bottom: 0px;
                                    }
    
                                    i{
                                        bottom: 0px;
                                        right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:779px){


    #main_sub{

        .about{
    
            .inner{
                padding:100px 50px;

                h2{
                    font:normal 30px/35px 'Montserrat';
                    width: 100%;
                    text-align: center;

                    span{


                        &::after{
                            bottom: -5px;
                            right: 5%;
                        }
                    }
                }

                >img{
                    width: 400px;
                    height: 250px;
                }


                .warp{
                    padding:0px 10px;

                    b{
                        font:normal 10px/1 'Montserrat';
                        text-overflow: ellipsis;   
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2; 
                        -webkit-box-orient: vertical;
                    }

                    p{
                        font:normal 14px/1 'Dongle';
                        text-overflow: ellipsis;   
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 5; 
                        -webkit-box-orient: vertical;
                    }
    
                    span{
                        font:normal 11px/1 'Montserrat';
                    }
    
                    strong{
                        font:normal 35px/1 'Comforter Brush';
                    }
                }
            }
        }

        .member{


            .inner{
                min-height: 900px;
    
                .warp{
                    
                    .slider{
    
                        ul{
                            width: 100%;
    
                            li{
                                width: 100%;
                                flex-direction: column-reverse;

                                .content{
                                    height: 450px;
                                    width: 100%;
                                    padding-top: 20px;
                                    padding-left: 20px;

                                    h2{
                                        font:normal 35px/40px 'Montserrat';
                                        margin-bottom:30px;
                                        text-align: left;
                                        width: 70%;
    
                                        &::after{
                                            content: '';
                                            display: block;
                                            width:65%;
                                            height: 2.5px;
                                            background: rgb(163, 123, 59);
                                            position: absolute;
                                            bottom:-7.5px;
                                            left: 0%;
                                        }
                                    }
    
                                    b{
                                        font:normal 15px/1 'Dongle';
                                        width: 70%;
                                    }
    
                                    p{
                                        margin-top: 15px;
                                        margin-bottom: 10px;
                                        width: 70%;
                                        font:normal 14px/1 'Dongle';
                                    }
    
                                    strong{
                                        font:normal 10px/1 'Montserrat';
                                        width: 70%;
                                    }
    
                                    span{
                                        font:normal 10px/1 'Montserrat';
                                        width: 70%;
                                    }

                                }
                                .pic{
                                    width: 100%;
                                    height: 450px;
    
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
    
                    .prev{
                        background: none;
                        left: 10px;
                        bottom: 225px;
                        transform: rotateZ(90deg);

                        i{
                            font-size: 30px;
                            color:#ddd;

                            &:hover{
                                color: rgba(241, 195, 121, 0.849);
                            }

                        }
                    }
    
                    .next{
                        background: none;
                        left: 10px;
                        bottom: 180px;
                        transform: rotateZ(90deg);
                        
                        i{
                            font-size: 30px;
                            color:#ddd;

                            &:hover{
                                color: rgba(241, 195, 121, 0.849);
                            }

                        }
                    }
                }
            }
        }
    

        .aboutPic{
            padding:0px 50px;

            .inner{
    
                h2{
                    font:bold 30px/50px 'Montserrat';
                    width: 80%;
                    margin-top: 100px;
    
                    strong{
                        margin-right: 10px;

                        &::after{
                        width:35%;
                        left:20px;
                        }
                    }
                }
    
                .wrap{
                    flex-wrap: wrap;
                    flex-direction: column;
                    
                    padding: 130px 0px 200px;
    
                    article{
                        width: 100%;
                        height: 400px;
                        margin-right: 0%;

                        &:nth-child(2){
                            top: 40px;
                        }
                        
                        &:nth-child(3){
                            position: relative;
                            top: 80px;
                            margin-bottom: 150px;
                        }
    
                        .pic{

                            img{
                                height: 400px;
                            }
                        }
    
                        &:nth-of-type(2) .hover{
                            bottom:0px;                   
                            height: 120px;
                            border-radius: 0px 0px 10px 10px;
    
                            &.on{
                                display: block;
                                opacity: 0.7;
                                transition: 0.3s;
                                bottom:112.5px;
                            }
                        }
    
                        .hover{
                            height: 120px;
    
                            &.on{
                                display: block;
                                opacity: 0.7;
                                transition: 0.3s;
                                bottom:112.5px;
                            }
    
                            span{
                                font:bold 18px/120px 'Montserrat';
                                letter-spacing: 1.5px;
                                color: #fff;
                                opacity: 0.8;
                            }
                        }
                    }
    
                    .content{
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        padding: 50px 10px;
    
                        h3{
                            font:bold 30px/40px 'Montserrat';
                            width: 110%;
                            margin-left: 0px;
                            position: relative;
                            bottom: 100px;
                            padding-bottom:10px;
    
                        &::after{
                            width: 370px;
                            height: 3px;
                            left: 0%;
                            top: 110%;
                            transform: translateY(0%);
                            opacity: 0.8;
                            }
                        }
    
                        div{
                            width: 88%;
                            padding-top:30px;
                            position: absolute;
    
                            p{
                                font:normal 11px/15px 'Montserrat';
                                position: absolute;
                            }
    
                            span{
                                width: 50%;
                                font:normal 11px/1 'Montserrat';
                                position: absolute;
                                top: 90px;
                                left: 170px;
                            }
    
                            a{
                                top: 64.5px;
                                left: 335px;
                            }
                        }
                    }
                }
            }
        }
    
    
        .info{
            
            .inner{
                padding: 150px 0px 120px;
    
                .warp{
    
                    article{
                        flex-wrap: wrap;

                        div{
                            
                            &:nth-child(1){
                                margin-bottom: 75px;
                            }

                            &:nth-child(2){
                                margin-bottom: 75px;
                            }
                        }
    
                        h2{
                            font:bold 20px/1 'Montserrat';
                            margin-bottom: 50px;
    
                        }
    
                        ul{
                            flex-wrap: wrap;
    
                            li{
                                margin-top: 10px;
                                font:normal 12px/1 'Montserrat';
                                margin-bottom: 10px;
                            }
                        }
    
                        .Letter{
                            ul{
    
                                li{
                                    input[type=text]{
                                        width: 175px;
                                        height: 40px;
                                        bottom: -10px;
                                        line-height: 40px;
                                    }
    
                                    i{
                                        width: 40px;
                                        bottom: -10px;
                                        font-size: 20px;
                                        line-height: 40.5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:539px){

    #main_sub{

        .about{
    
            .inner{
                padding:100px 10px;

                h2{
                    font:bold 20px/1 'Montserrat';
                    top: 20%;

                    span{


                        &::after{
                            width: 80px;
                        }
                    }
                }


                >img{
                    width: 100%;
                }

                .warp{
                    
                    strong{
                        font:normal 30px/1 'Comforter Brush';
                        margin-top: 25px;
                    }
                }
            }
        }

        .member{

            .inner{
                min-height: 750px;
    
                .warp{
                    
                    .slider{
    
                        ul{
    
                            li{

                                .content{
                                    height: 300px;

                                    h2{
                                        font:normal 20px/40px 'Montserrat';
                                        margin-bottom:20px;
                                        text-align: left;
                                        width: 85%;
    
                                        &::after{
                                            content: '';
                                            display: block;
                                            width:90%;
                                            height: 2.5px;
                                            background: rgb(163, 123, 59);
                                            position: absolute;
                                            bottom:-7.5px;
                                            left: 0%;
                                        }
                                    }
    
                                    b{
                                        font:normal 16px/1 'Dongle';
                                        width: 85%;
                                    }
    
                                    p{
                                        display: none;
                                    }
    
                                    strong{
                                        font:normal 10px/1 'Montserrat';
                                        width: 85%;
                                    }
    
                                    span{
                                        font:normal 10px/1 'Montserrat';
                                        width: 85%;
                                    }

                                }
                                .pic{
                                    width: 100%;
                                    height: 450px;
    
                                    img{
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                            }
                        }
                    }
    
                    .prev{
                        left: 5px;
                        bottom: 150px;

                        i{
                            font-size: 25px;
                        }
                    }
    
                    .next{
                        left: 5px;
                        bottom: 100px;
                        
                        i{
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    

        .aboutPic{
            padding:0px 25px;

            .inner{
                padding-bottom: 0;
    
                h2{
                    font:bold 19px/30px 'Montserrat';
                    margin-top: 80px;
    
                    strong{

                        &::after{
                        width:36%;
                        left:4px;
                        }
                    }
                }
    
                .wrap{
                    padding: 50px 0px 0px;
    
                    article{

                        &:nth-child(2){
                            top: -80px;
                        }
                        
                        &:nth-child(3){
                            position: relative;
                            top: -160px;
                            margin-bottom: 50px;
                        }
    
                        .pic{
                            height: 275px;

                            img{
                                height: 275px;
                            }
                        }
    
                        &:nth-of-type(2) .hover{                 
                            height: 80px;
    
                            &.on{
                                bottom:80px;
                            }
                        }
    
                        .hover{
                            height: 80px;
    
                            &.on{
                                bottom:80px;
                            }
    
                            span{
                                font:bold 11px/80px 'Montserrat';
                            }
                        }
                    }
    
                    .content{
                        bottom: 0px;
                        padding: 30px 10px;
                        height: 300px;
    
                        h3{
                            font:bold 17px/25px 'Montserrat';

                        }
    
                        div{
                            margin-bottom: 70px;
    
                            p{
                                font:normal 10px/15px 'Montserrat';
                            }
    
                            span{
                                width: 60%;
                                font:normal 10px/1 'Montserrat';
                                position: absolute;
                                top: 115px;
                                left: 0px;
                            }
    
                            a{
                                top: 95px;
                                left: 135px;
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    
        .info{
            padding:0px 10px;
            .inner{
                padding: 100px 0px 100px;
    
                .warp{
    
                    article{
                        flex-wrap: wrap;

                        div{
                            
                            &:nth-child(1){
                                margin-bottom: 40px;
                            }

                            &:nth-child(2){
                                margin-bottom: 40px;
                            }

                            &:nth-child(3){
                                margin-bottom: 40px;
                            }
                        }
    
                        h2{
                            font:bold 20px/1 'Montserrat';
                            margin-bottom: 30px;
    
                        }
    
                        ul{
                            flex-wrap: wrap;
    
                            li{
                                margin-top: 10px;
                                font:normal 10px/1 'Montserrat';
                                margin-bottom: 10px;
                            }
                        }
    
                        .Letter{
                            ul{
    
                                li{
                                    input[type=text]{
                                        width: 175px;
                                        height: 40px;
                                        bottom: -10px;
                                        line-height: 40px;
                                        padding-right: 15px;
                                    }
    
                                    i{
                                        right: -10px;
                                        width: 40px;
                                        bottom: -10px;
                                        font-size: 20px;
                                        line-height: 40.5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}








        



