#main_sub{
    width: 100%;

    .gallery{
        width: 100%;

        .inner{
            width: 1180px;
            min-height: 1000px;
            margin: 0 auto;
            position: relative;
            padding: 75px 0px;

            >ul{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                float: left;
                margin-bottom: 30px;

                
                li{
                    padding: 20px;

                    a{
                        display: block;
                        padding: 10px;
                        font:normal 12px/1 'Montserrat';
                        color:#fff;
                        letter-spacing: 3px;
                        // background: rgb(246, 201, 128);
                        background: rgb(165, 165, 165);
                        border-radius: 10px;
                        // box-shadow: 3px 3px 5px rgba(248, 218, 162, 0.96);
                        box-shadow: 3px 3px 5px rgba(167, 167, 167, 0.96);
                        transition: 1s;

                        &:hover{
                            transform: scale(1.15);
                            transition: 1s;
                            font-weight: bold;
                        }
                    }
                }
            }

            input[type=text]{
                width: 200px;
                height: 30px;
                float: right;
            }

            .btnSearch{
               position: absolute;
               right: 0;

                i{

                }
            }

            .wrap{
                width: 100%;
                overflow: hidden;
                padding-top: 115px;
                // border-top: 2px solid rgb(241, 205, 146);
                border-top: 2px solid rgba(214, 214, 214, 0.739);

                #list{

                    &::after{
                        content: '';
                        display: block;
                        clear: both;
                    }

                    .item{
                        width: calc(100% / 5);
                        float: left;
                        padding: 10px;

                        div{
                            width: 100%;
                            border:1px solid #555;
                            padding: 20px;
                            background: #fff;
                            border-radius: 5px;

                            a{
                                display: block;
                                width: 100%;
                                height: 100%;

                                img{
                                    width: 100%;
                                    object-fit: cover;
                                    margin-bottom: 20px;
                                }
                            }

                            p{
                                font:normal 10px/16px 'Montserrat';
                                color:#000;
                                letter-spacing: 1.1px;
                            }
                        }
                    }
                }
            }
        }
    }
}