#main_sub{
    width: 100%;

    .join{
        width: 100%;

        .inner{
            width: 1180px;
            min-height: 1000px;
            border:1px solid red;
            margin: 0 auto;

            .wrap{
                width: 100%;
            }
        }
    }
}