#header_join{
    width: 100%;
    overflow: hidden;
    background: rgba(0,0,0,.7);
    position: relative;
    z-index: 3;

    .inner{
        width: 1180px;
        position: relative;
        margin: 0 auto;
        padding: 60px 0px;

        h1{
            font:bold 22.5px/1 'Montserrat';
            letter-spacing: 1.5px;
            color:#fff;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }

        .menuMo{
            position: relative;

            >h2{
                display: none;
            }

            >p{
                display: none;
            }

            .gnb{
                display: flex;
                position: absolute;
                top: 15px;
                left: 50%;
                transform: translateX(-50%);

                li{
                    margin-left: 50px;

                    &:nth-child(1){
                        margin-left: 0px;
                    }

                    a{
                        font:normal 30px/1 'Dongle';
                        color:#fff;
                        position: relative;

                        &::after{
                            content: '';
                            display: block;
                            position: absolute;
                            height: 2px;
                            width: 0;
                            background: #fff;
                            left: 0;
                            animation: MenuHoverLeave 0.5s;

                        }

                        &:hover{

                            &::after{
                                content: '';
                                display: block;
                                position: absolute;
                                height: 2px;
                                background: #fff;
                                left: 0;
                                animation: MenuHover 0.5s;
                                animation-fill-mode: forwards;
                            }
                        }
                    }
                }
            }

            .close{
                display: none;
            }
        }
    }
}

#main_join{
    width: 100%;
    height: 100%;
    margin-top: -120px;

    .join{
        width: 100%;
        position: relative;

        img{
            width: 100%;
            min-height: 1220px;
            object-fit: cover;
            filter:blur(0px) saturate(70%) ;
        }


        .inner{
            width: 1180px;
            margin: 0 auto;
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate( -50%,-50%);
            background: rgba(255,255,255,.01);
            box-shadow: 10px 10px 50px rgba(0,0,0,.7);
            padding:100px 50px;

            .wrap{
                width: 100%;
                display: flex;
                flex-direction: column;

                .moveLogin{
                    width: 100%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding:20px 20px;
                    background: rgba(163, 123, 59,.5);

                    h2{
                        font:bold 50px/1 'Montserrat';
                        letter-spacing: 3px;
                        margin-bottom: 15px;
                        font-style: italic;
                        color:#fff;
                    }

                    p{
                        font:normal 12px/18px 'Montserrat';
                        letter-spacing: 1.4px;
                        margin-bottom: 20px;
                        color:#fff;
                        width: 80%;
                    }

                    a{
                        display: block;
                        width: 150px;
                        height: 40px;
                        color:#fff;
                        border:1px solid #fff;
                        font:bold 14px/37px 'Montserrat';
                        letter-spacing: 1.4px;
                        transition: 0.5s;

                        &:hover{
                            background: #111;
                            color:#eee;
                            border:1px solid #111;
                            transition: 0.5;
                        }
                    }
                }

                .signUp{
                    width: 100%;
                    background: #fff;
                    padding:20px 2.5%;
                

                    form{
                        h3{
                            font:bold 20px/1 'Montserrat';
                            letter-spacing: 3px;
                            text-align: left;
                            margin-bottom: 10px;

                            &:nth-of-type(2){
                                padding-bottom: 20px;
                                margin-bottom: 0;
                                border-bottom: 2px solid rgba(163, 123, 59,.4);
                            }
                        }
                        
                        h4{
                            font:normal 10px/1 'Montserrat';
                            letter-spacing: 1px;
                            text-align: left;
                            margin-bottom:10px;
                        }
    
                        #terms{
                            width:100%;
                            margin-bottom: 10px;
                            padding:10px;
                            height: 100px;
                            resize: none;
                            background: rgb(250, 250, 250);
                            font:normal 10px/15px 'Montserrat';
                        }
    
                        .agreement{
                            margin-bottom: 35px;
    
                            label[for="agree"]{
                                font:normal 11px/15px 'Montserrat';
                                letter-spacing: 0.3px;
                                text-align: left;
                            }
                        }

                        table{
                            width: 100%;

                            &::after{
                                content: '';
                                display: block;
                                clear: both;
                            }

                            tr{
                                width:50%;
                                height: 80px;
                                border-bottom: 0.5px solid rgba(163, 123, 59,.4);
                                float: left;
                                display: flex;

                                &:nth-of-type(7){
                                    width: 100%;
                                    height: 150px;

                                    th{
                                        width: 20%;
                                    }
                                    
                                    td{
                                        textarea{
                                            resize: none;
                                            width:145%;
                                            height: 100px;
                                            background: rgba(0,0,0,0.03);
                                            padding: 10px;
                                            border:1px solid #aaa;
                                         }
                                    }
                                }

                                &:nth-of-type(8){
                                    border-bottom: 2px solid rgba(163, 123, 59,.4);
                                    width: 100%;

                                    th{
                                        background: none;
                                        margin: 0 auto;
                                        padding-top: 10px;
                                    
                                    input[type=reset], input[type=submit]{
                                        width: 30%;
                                        height: 40px;
                                        border:1px solid #a37b3b;
                                        margin: 10px;
                                        font:bold 12px/1 'Montserrat';
                                        letter-spacing: 1.3px;
                                        color:#555;
                                        cursor: pointer;
                                        transition: 0.5s;
                                        background:#a37b3b;
                                        color:#eee;
                                
                                            &:hover{
                                                background: #333;
                                                color:#fff;
                                                border:1px solid #333;
                                            }
                                        }
                                    }
                                }
                                
                                th{
                                    width: 40%;
                                    height: inherit;
                                    padding: 35px;
                                    font:bold 12px/1 'Montserrat';
                                    letter-spacing: 1px;
                                    background: rgba(163, 123, 59,.3);
                                    color:#333;
                                    text-align: center;
    
                                    label[for="comments"]{
                                        line-height: 75px;
                                    }
                                    
                                }
                    
                                td{
                                    width: 50%;
                                    padding:15px 20px;

                                    input{
                                        padding:7.5px;
                                        background: rgba(0,0,0,0.03);
                                        border:1px solid #aaa;
                                    }
    
                                     label[for="male"], label[for="female"]{

                                        margin-right: 30px;
                                        font:13px/42.5px "Montserrat";
                                    }

                                    input[type=radio], input[type=checkbox]{
                                        margin-top: 15px;
                                        margin-right: 5px;
                                    }

                                    p{
                                        font:bold 10px/1 "Montserrat";
                                        color:#555;
                                        margin-top: 7.5px;
                                     }


                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:1179px){
    #header_join{
    
        .inner{
            width: 100%;
            position: relative;
            margin: 0 auto;
            padding: 60px 10px;
    
            h1{
            }
    
            .menuMo{
    
                .gnb{
                    top: 20px;
    
                    li{
    
                        a{
                            font:normal 25px/1 'Dongle';
                            letter-spacing: 1.5px;
                        }
                    }
                }
            }
        }
    }
    
    #main_join{

        .join{

            .inner{
                width: 100%;

                .wrap{
    
                    .signUp{
                    
                        form{
    
                            table{
                                tr{
                                    
                                    th{
                                        padding: 35px 0px;
                                    }
                        
                                    td{
                                         label[for="male"], label[for="female"]{
                                            margin-right: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:959px){
    #header_join{

        .inner{
    
            h1{
                font:bold 25px/1 'Montserrat';
                letter-spacing: 1.5px;
                top: 50px;
                left: 50px;

                &.on{opacity: 0;}
            }
    
            .btnCall{
                display: block;
                position: absolute;
                right: 50px;
                top:40px;
                cursor: pointer;
                border-top:2px solid #fff;
                border-bottom:2px solid #fff;
                width: 25px;
                height: 20px;
                transition: all 2s;
    
                &.on{opacity: 0;}
    
                div{
                    width: 25px;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%);
                }
            }
    
            .menuMo{
                width: 50%;
                height:calc(100vh + 35px);
                background: rgba(0,0,0,.9);
                top: -35px;
                left: -100%;
                opacity: 0;
                transition: all 2s;
                position: fixed;
                
                &.on{
                    animation: none;
                    animation-fill-mode: forwards;
                    opacity: 1;
                    left: -5%;
                    position: fixed;
                }

                .logo2{
                    font:bold 22.5px/1 'Montserrat';
                    letter-spacing: 1.5px;
                    color:#fff;
                    display: block;
                    position: absolute;
                    top: 10vh;
                    left: 10vw;
                }
    
                >p{
                    font:normal 18px/1 'Dongle';
                    letter-spacing: 1.4px;
                    color:#bbb;
                    display: block;
                    position: absolute;
                    top: 13.5vh;
                    left: 10vw;
                }

                .gnb{
                    display: flex;
                    flex-direction: column;
                    left: 10vw;
                    top: 50vh;
                    transform: translateY(-50%);
                    width: 33vw;
                    
                    li{
                        margin-left: 0px;
                        border-bottom: 0.5px solid rgba(255,255,255,.3);
                        width: 100%;
                        margin-bottom: 30px;
                        margin-top:30px;

                        a{
                            font:normal 30px/1 'Dongle';
                            color:#ccc;

                            &::after{
                                content: '';
                                display: none;
                                height: 0;
                            }
    
                            &:hover{
    
                                &::after{
                                    content: '';
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .close{
                    position: absolute;
                    top: 7.5vh;
                    right: 15px;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    display: block;
                }
            }
        }
    }

    #main_join{
    
        .join{

    
            .inner{
                width: 100%;
                padding:0px 20px;
    
                .wrap{
    
                    .moveLogin{
                        padding:15px 20px;
    
                        h2{
                            font:bold 40px/1 'Montserrat';
                        }
    
                        p{
                            font:normal 10px/18px 'Montserrat';
                            margin-bottom: 20px;
                        }
    
                        span{
                            font:bold 11px/1 'Montserrat';
                        }
    
                        a{
                            width: 130px;
                            height: 30px;
                            font:bold 14px/28px 'Montserrat';
                        }
                    }
    
                    .signUp{
                    
                        form{
    
                            table{
    
                                tr{
                                    width:50%;
                                    height: 80px;
                                    border-bottom: 0.5px solid rgba(163, 123, 59,.4);
                                    float: left;
                                    display: flex;

                                    &:nth-of-type(3),&:nth-of-type(6){
                                        width: 100%;

                                        th{
                                            width: 20%;
                                        }

                                        td{
                                            width: 80%;
                                            input#pw, input#email{
                                                width: 70%;
                                            }
                                        }
                                        
                                    }


                                    &:nth-of-type(5), &:nth-of-type(4){
                                        display: none;
                                    }
    
                                    &:nth-of-type(7){
                                        width: 100%;
                                        height: 150px;
    
                                        th{
                                            width: 20%;
                                        }
                                        
                                        td{
                                            textarea{
                                                width:162.5%;
                                             }
                                        }
                                    }
    
                                    &:nth-of-type(8){
                                        width: 100%;
    
                                        th{
                                            padding-top: 10px;
                                            width: 100%;
                                        
                                        input[type=reset], input[type=submit]{
                                            width: 20%;
                                            }
                                        }
                                    }
                                    
                                    th{
                                        padding: 10px;
                                        font:bold 10px/60px 'Montserrat';
        
                                        label[for="comments"]{
                                            line-height: 125px;
                                        }
                                    }
                        
                                    td{
                                        padding:15px 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and(max-width:779px){
    #header_join{

        .inner{
            h1{left: 40px;}
    
            .menuMo{
                width: 60%;


                .gnb{width: 40vw;}
            }
        }
    }

    #main_join{
    
        .join{
    
            .inner{

                .wrap{

                    .moveLogin{
                        h2{
                            font-style: italic;
                        }
                    }
    

                    .signUp{
                    
                        form{
    
                            table{
                                width: 100%;

                                tr{
                                    width: 100%;
                                    height: 80px;
                                    border-bottom: 0.5px solid rgba(163, 123, 59,.4);
                                    float: left;
                                    display: flex;
                                    // width: 100%;

                                    &:nth-of-type(3),&:nth-of-type(6){
                                        td{
                                            width: 100%;

                                            input#pw, input#email{
                                                width: 100%;
                                            }
                                        }
                                    }

                                    &:nth-of-type(7){
                                        td{
                                            width: 100%;

                                            textarea{
                                                width: 100%;
                                            }
                                        }
                                    }
    
                                    &:nth-of-type(8){
                                        width: 100%;
    
                                        th{
                                            padding-top: 10px;
                                            width: 100%;
                                            display: block;
                                        
                                        input[type=reset], input[type=submit]{
                                            width: 20%;
                                            }
                                        }
                                    }
                                    
                                    th{
                                        display: none;
                                    }
                        
                                    td{
                                        width: 100%;
                                        padding:25px;

                                        input#id, input#name{
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}

@media screen and(max-width:539px){
    #header_join{

        .inner{
    
            h1{
                left: 10px;
                top:45px;

                &.on{
                    opacity: 0;
                }
            }

            .btnCall{
                right: 10px;
                top:30px;
            }
    
            .menuMo{
                width: 75%;
                top: -35px;
                left: -100%;

                .gnb{
                    left: 10vw;
                    top: 52.5vh;
                    transform: translateY(-50%);
                    width: 55vw;
                }
            }
        }
    }

    #main_join{
    
        .join{
    
            .inner{

                .wrap{

                    .moveLogin{
    
                        h2{
                            font:bold 25px/1 'Montserrat';
                        }
    
                        p{
                            overflow: hidden;
                            text-overflow: ellipsis;   
                            display: -webkit-box;
                            -webkit-line-clamp: 2; 
                            -webkit-box-orient: vertical;
                        }
    
                        span{
                            font:bold 10px/1 'Montserrat';
                        }
                    }
    
    
                    .signUp{
                    
                        form{

                            h3{
                                font:bold 15px/1 'Montserrat';
                            }
                            
                            h4{
                                color:#444;
                            }
        
                            #terms{
                                height: 80px;
                            }
        
                            .agreement{
                                margin-bottom: 30px;
                            }
    
                            table{
                                width: 100%;

                                tr{
                                    width: 100%;
                                    height: 80px;
                                    border-bottom: 0.5px solid rgba(163, 123, 59,.4);
                                    float: left;
                                    display: flex;
    
                                    &:nth-of-type(8){
    
                                        th{
                                        
                                        input[type=reset], input[type=submit]{
                                            width: 30%;
                                            }
                                        }
                                    }
                                    td{
                                        padding:20px 25px 25px;

                                        p{
                                            margin-top: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes MenuHover{
    0%{width: 0%;}
    100%{width: 100%;}
}

@keyframes MenuHoverLeave{
    0%{width: 100%;}
    100%{width: 0%;}
}