#header_login{
    width: 100%;
    overflow: hidden;
    background: rgba(0,0,0,.7);
    position: relative;
    z-index: 3;

    .inner{
        width: 1180px;
        position: relative;
        margin: 0 auto;
        padding: 60px 0px;

        h1{
            font:bold 22.5px/1 'Montserrat';
            letter-spacing: 1.5px;
            color:#fff;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 3;
        }

        .menuMo{
            position: relative;

            >h2{
                display: none;
            }

            >p{
                display: none;
            }

            .gnb{
                display: flex;
                position: absolute;
                top: 15px;
                left: 50%;
                transform: translateX(-50%);

                li{
                    margin-left: 50px;
                    
                    &:nth-child(1){
                        margin-left: 0px;
                    }

                    a{
                        font:normal 30px/1 'Dongle';
                        color:#fff;
                        position: relative;

                        &::after{
                            content: '';
                            display: block;
                            position: absolute;
                            height: 2px;
                            width: 0;
                            background: #fff;
                            left: 0;
                            animation: MenuHoverLeave 0.5s;

                        }

                        &:hover{

                            &::after{
                                content: '';
                                display: block;
                                position: absolute;
                                height: 2px;
                                background: #fff;
                                left: 0;
                                animation: MenuHover 0.5s;
                                animation-fill-mode: forwards;
                            }
                        }
                    }
                }
            }

            .close{
                display: none;
            }
        }
    }
}

#main_login{
    width: 100%;
    margin-top: -120px;

    .login{
        width: 100%;
        position: relative;
        filter:saturate(70%);
        background-image: url(../img/figure00.png);

        img{
            width: 100%;
            min-height: 1220px;
            object-fit: cover;
            filter:blur(5px);
            
        }

        .inner{
            width: 1180px;
            margin: 0 auto;
            position: absolute;
            // margin-top: 205px;
            top: 55%;
            left: 50%;
            transform: translate( -50%,-50%);
            background: rgba(255,255,255,.01);
            box-shadow: 10px 10px 50px rgba(0,0,0,.7);
            
            &:hover{
                .wrap .loginForm form .fa-globe-americas{
                    animation: loginAni 10s linear infinite;
                    color:#fff;
                }
            }

            .wrap{
                width: 100%;
                height: 100%;
                display: flex;

                .moveJoin{
                    width: 50%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding:150px 20px;
                    background: rgba(255,255,255,.01);

                    h2{
                        font:bold 50px/1 'Montserrat';
                        letter-spacing: 3px;
                        margin-bottom: 30px;
                        font-style: italic;
                        color:#fff;
                    }

                    p{
                        font:normal 12px/18px 'Montserrat';
                        letter-spacing: 1.4px;
                        margin-bottom: 75px;
                        color:#fff;
                        width: 80%;
                    }

                    span{
                        font:bold 13px/1 'Montserrat';
                        letter-spacing: 1.4px;
                        margin-bottom: 20px;
                        color:#fff;
                    }

                    a{
                        display: block;
                        width: 150px;
                        height: 40px;
                        color:#fff;
                        border:2px solid #fff;
                        font:bold 15px/37px 'Montserrat';
                        letter-spacing: 1.4px;
                        transition: 0.5s;

                        &:hover{
                            background: rgb(34, 34, 34);
                            color:#eee;
                            border:1px solid rgb(39, 39, 39);
                            transition: 0.7s;
                        }
                    }
                }


                .loginForm{
                    background: rgba(0,0,0,.8);
                    width: 50%;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    padding:150px 20px;
                    color:rgba(255,255,255,.9);

                    form{
                        width: 100%;

                        .fa-globe-americas{
                            font-size: 70px;
                            color:rgba(255,255,255,.9);
                            transition: 1s;
                            border-radius: 100px;
                        }

                        strong{
                            font:bold 15px/40px 'Montserrat';
                            letter-spacing: 3px;
                            color:rgba(255,255,255,.9);
                            position: relative;
                            margin-bottom: 30px;
                            margin-top: 10px;
                            display: block;
                            
                            &::after{
                                content: '';
                                display: block;
                                position: absolute;
                                width: 70%;
                                background: #fff;
                                height: 2px;
                                bottom: -10px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }

                        .userid{
                            position: relative;
                            margin-top: 70px;
                            margin-bottom: 15px;

                            &::after{
                                content: '';
                                display: block;
                                position: absolute;
                                width: 80%;
                                background: #fff;
                                height: 2px;
                                top:-40px;
                                left: 50%;
                                transform: translateX(-50%);
                            }
                        }

                        i{
                            font-size: 20px;
                            color:rgba(255,255,255,.9);
                            margin-bottom: 10px;
                            margin-right: 5px;
                        }


                        label[for=userid], label[for=pwd]{
                            font:bold 15px/25px 'Montserrat';
                            letter-spacing:2px;
                            color:rgba(255,255,255,.9);
                        }

                        input[type=text], input[type=password]{
                            width: 55%;
                            height: 30px;
                            margin-bottom: 20px;
                            border-radius: 5px;
                            border: none;
                            background:rgba(255,255,255,.4);
                            color:#fff;
                            font-weight: bold;
                            margin: 0px 100px;
                        }

                        input[type=submit]{
                            border:1px solid #fff;
                            font:bold 17px/30px 'Montserrat';
                            letter-spacing: 1px;
                            color:rgba(255,255,255,.9);
                            width: 30%;
                            background: rgba(0,0,0,.01);
                            padding:5px;
                            cursor: pointer;
                            margin-bottom: 30px;
                            margin-top: 40px;

                            &:hover{
                                background: #fff;
                                transform: scale(1.1);
                                color:#111;
                                transition: 0.7s;
                            }
                        }

                        p{
                            font:normal 13px/20px 'Montserrat';
                            color:rgba(255,255,255,.7);

                            b{
                                font:bold 15px/20px 'Montserrat';
                                color:rgba(255,255,255,.9);
                                cursor: pointer;
                                margin-left:5px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@keyframes loginAni{
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
}


@media screen and(max-width:1179px){
    #header_login{

        .inner{
            width: 100%;
            position: relative;
            margin: 0 auto;
            padding: 60px 10px;
    
            h1{
            }
    
            .menuMo{
    
                .gnb{
                    top: 20px;
    
                    li{
    
                        a{
                            font:normal 25px/1 'Dongle';
                            letter-spacing: 1.5px;
                        }
                    }
                }
            }
        }
    }
    
    #main_login{
    
        .login{
    
            img{
                min-height: 1000px;
            }
    
            .inner{
                width: 90%;
                top: 56%;
                left: 50%;

                .wrap{
                    .moveJoin{
                        padding:125px 0px;
                    }
    
                    .loginForm{
                        padding:125px 0px;

                        form{

                            strong{
                                font:bold 12px/40px 'Montserrat';
                                letter-spacing: 1.5px;
                                
                                &::after{
                                    width: 60%;
                                }
                            }
    
                            .userid{
                                margin-bottom: 30px;

                                &::after{
                                    width: 70%;
                                }
                            }

                            input[type=submit]{
                                font:bold 15px/30px 'Montserrat';
                                width: 30%;
                                padding:3px;
                                margin-bottom: 20px;
                                margin-top: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:959px){
    #header_login{

        .inner{
    
            h1{
                font:bold 25px/1 'Montserrat';
                letter-spacing: 1.5px;
                top: 40%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
    
            .menuMo{
    
                .gnb{
                    top: 25px;
    
                    li{
    
                        a{
                            font:normal 23px/1 'Dongle';
                            letter-spacing: 1.4px;
                        }
                    }
                }
            }
        }
    }

    #main_login{
    
        .login{
    
            img{
                min-height: 1000px;
            }
    
            .inner{
                width: 90%;
                top: 56%;
                left: 50%;

                .wrap{
                    .moveJoin{
                        padding:125px 0px;
                    }
    
                    .loginForm{
                        padding:125px 0px;

                        form{

                            strong{
                                font:bold 10px/40px 'Montserrat';
                                letter-spacing: 1.5px;
                                
                                &::after{
                                    display: none;
                                }
                            }
    
                            .userid{
                                margin-top: 0;
                                margin-bottom: 30px;

                                &::after{
                                    display: none;
                                }
                            }

                            label[for=userid], label[for=pwd]{
                                font:bold 13px/25px 'Montserrat';
                                letter-spacing:2px;
                                color:rgba(255,255,255,.9);
                            }
    
                            input[type=text], input[type=password]{
                                width: 70%;
                                height: 30px;
                                margin-bottom: 20px;
                                border-radius: 5px;
                                border: none;
                                background:rgba(255,255,255,.4);
                                color:#fff;
                                font-weight: bold;
                                margin:0px 50px;
                            }

                            input[type=submit]{
                                font:bold 15px/30px 'Montserrat';
                                width: 30%;
                                padding:3px;
                                margin-bottom: 20px;
                                margin-top: 35px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:779px){
    #header_login{

        .inner{
    
            h1{
                font:normal 25px/1 'Montserrat';
                top: 40%;
            }
    
            .menuMo{
    
                .gnb{
                    top: 30px;
    
                    li{
                        margin-left: 40px;
                        a{
                            font:normal 13px/1 'Montserrat';
                        }
                    }
                }
            }
        }
    }

    #main_login{
    
        .login{
    
            img{
                min-height: 1000px;
            }
    
            .inner{
                width: 90%;
                top: 56%;
                left: 50%;

                .wrap{
                    flex-direction: column;
                    
                    .moveJoin{
                        width: 100%;
                        padding:30px 0px;
    
                        h2{
                            font:bold 30px/1 'Montserrat';
                            letter-spacing: 3px;
                            margin-bottom: 15px;
                            font-style: italic;
                            color:#fff;
                        }
    
                        p{
                            font:normal 10px/18px 'Montserrat';
                            margin-bottom: 35px;
                        }
    
                        span{
                            font:bold 12px/1 'Montserrat';
                        }
    
                        a{
                            width: 130px;
                            height: 35px;
                            font:bold 13px/30px 'Montserrat';
                            background: #fff;
                            border:1px solid #fff;
                            color:#111;
                        }
                    }
    
                    .loginForm{
                        width: 100%;
                        padding:50px 0px;

                        form{

                            strong{
                                font:bold 13px/40px 'Montserrat';
                                letter-spacing: 1.5px;
                            }
                                
                            input[type=text], input[type=password]{
                                width: 50%;
                                margin:0px 100px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and(max-width:539px){
    #header_login{

        .inner{
    
            h1{
                font:bold 25px/1 'Montserrat';
                letter-spacing: 1.5px;
                top:50%;
                transition: all 2s;

                &.on{
                    opacity: 0;
                }
            }

            .btnCall{
                display: block;
                position: absolute;
                right: 15px;
                top:22.5px;
                cursor: pointer;
                border-top:2px solid #fff;
                border-bottom:2px solid #fff;
                width: 25px;
                height: 20px;
                transition: all 2s;
    
                &.on{
                    opacity: 0;
                    // animation: headerLogo2 5s;
                    // animation-fill-mode: forwards;
                }
    
                div{
                    width: 25px;
                    height: 2px;
                    background: #fff;
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%);
                }
            }
    
            .menuMo{
                width: 75%;
                height:calc(100vh + 35px);
                background: rgba(0,0,0,.9);
                top: -35px;
                left: -100%;
                opacity: 0;
                transition: all 2s;
                position: fixed;
                
                &.on{
                    animation: none;
                    animation-fill-mode: forwards;
                    opacity: 1;
                    left: -5%;
                    position: fixed;
                }

                .logo2{
                    font:bold 22.5px/1 'Montserrat';
                    letter-spacing: 1.5px;
                    color:#fff;
                    display: block;
                    position: absolute;
                    top: 10vh;
                    left: 10vw;
                }
    
                >p{
                    font:normal 18px/1 'Dongle';
                    letter-spacing: 1.4px;
                    color:#bbb;
                    display: block;
                    position: absolute;
                    top: 13.5vh;
                    left: 10vw;
                }

                .gnb{
                    display: flex;
                    flex-direction: column;
                    left: 10vw;
                    top: 45vh;
                    transform: translateY(-50%);
                    width: 55vw;
                    
                    li{
                        margin-left: 0px;
                        border-bottom: 0.5px solid rgba(255,255,255,.3);
                        width: 100%;
                        margin-bottom: 30px;
                        margin-top:30px;


                        &:hover{
                            background: #eee;
                            transition: 0.5s;

                            a{
                                color:#111;
                                transition: 0.5s;
                            }

                        }

                        a{
                            font:normal 30px/1 'Dongle';
                            color:#ccc;

                            &::after{
                                content: '';
                                display: none;
                                height: 0;
                            }
    
                            &:hover{
    
                                &::after{
                                    content: '';
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .util{
                    right: 5vw;
                    height: 95%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;
                    bottom: 300px;

                    li{
                        a{
                            font:normal 20px/1 'Dongle';
                            color:#ccc;

                            &:hover{
                                font-weight: bold;
                            }
                        }
                    }
                }

                .close{
                    display: block;
                    position: absolute;
                    top: 7.5vh;
                    right: 15px;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;

                }
            }
        }
    }

    #main_login{
    
        .login{

            .inner{

                .wrap{
                    
                    .moveJoin{
    
                        p{
                            margin-bottom: 20px;
                            overflow: hidden;
                            text-overflow: ellipsis;   
                            display: -webkit-box;
                            -webkit-line-clamp: 2; 
                            -webkit-box-orient: vertical;
                        }
    
                        span{
                            font:bold 11px/1 'Montserrat';
                        }
    
                        a{
                            width: 110px;
                            height: 30px;
                            font:bold 11px/27px 'Montserrat';
                        }
                    }
    
                    .loginForm{
                        width: 100%;
                        padding:50px 0px;

                        form{

                            .fa-globe-americas{
                                font-size: 50px;
                                margin-bottom: 5px;
                            }

                            strong{
                                font:bold 10px/40px 'Montserrat';
                                letter-spacing: 1.3px;
                            }
                                
                            input[type=text], input[type=password]{
                                width: 70%;
                                margin:0px;
                            }

                            input[type=submit]{
                                font:bold 11px/30px 'Montserrat';
                                width: 30%;
                                padding:3px;
                            }
    
                            p{
                                font:normal 10px/20px 'Montserrat';

                                b{
                                    font:bold 13px/20px 'Montserrat';
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}